<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<div class="main">
    <div class="navbar">  
  <div class="icon">
      <h2 class="logo">LEAF</h2>
<link rel="stylesheet" href="signup.css">
<body>
        <div class="menu">
          
        </div>
        <div class="form">
            <h2>Sign up Here</h2>
            <input type="firstname" name="firstname" placeholder="firstname">
            <input type="lastname" name="lastname" placeholder="lastname">
            <input type="username" name="username" placeholder="username">
            <input type="Email" name="Email" placeholder="Enter Email">
            <input type="password" name="" placeholder="Enter Password ">
            <button class="btnn"><a href="/account">Sign up</a></button>
    
    
</body>
</html>